div.account
    div.account__search
        img(src="img/line.svg", alt="Ícono de atrás").account__arrow
        img(src="img/line.svg", alt="Ícono de siguiente").account__arrow
        input(type="text", placeholder="Buscar").account__input
    
    div.account__info
        img(src="img/photo.jpeg", alt="Foto de perfil").account__photo
        h3.account__title Ana Sacareno
        img(src="img/line.svg", alt="Ícono de ajustes").account__arrow.account__menu
        
    div.account__settings#account__settings.is-x100
        a(href="#").account__item-settings Sesión Privada
        a(href="#").account__item-settings Cuenta
        a(href="#").account__item-settings Configuración
        a(href="#").account__item-settings Funciones Experimentales
        a(href="#").account__item-settings Cerrar Sesión
