div.player    
    div.player__current
        div.player__photo
        div.player__song Moonlight
        div.player__artist XXXTENTACION
      
    div.player__menu
        div.player__control
            img(src="img/random.svg", alt="Ícono de random").player__icon
            img(src="img/arrow.svg", alt="Ícono de atrás ").player__icon
            img(src="img/play.svg", alt="Ícono de play ").player__icon
            img(src="img/arrow.svg", alt="Ícono de siguiente").player__icon
            img(src="img/rewind.svg", alt="Ícono de repetir").player__icon
            div.player__time
          
    div.player__settings
        img(src="img/menu.svg", alt="Ícono de menú").player__icon
        img(src="img/settings.svg", alt="Ícono de ajustes").player__icon
        div.player__volume
