div.playlist#playlist           
         
    nav.playlist__list
        a(href="#").playlist__item Inicio
        a(href="#").playlist__item Explorar
        a(href="#").playlist__item Radio
        
        h3.playlist__subtitle TU BIBLIOTECA
        a(href="#").playlist__item Especialmente para ti
        a(href="#").playlist__item Recientes
        a(href="#").playlist__item.is-active Canciones favoritas
        a(href="#").playlist__item Álbumes
        a(href="#").playlist__item Artistas
        a(href="#").playlist__item Emisoras
        a(href="#").playlist__item Archivos Locales
        a(href="#").playlist__item Vídeos
        a(href="#").playlist__item Podcast
        
        h3.playlist__subtitle PLAYLIST
        a(href="#").playlist__item Lo-Fi Beats
        a(href="#").playlist__item Ambient Relaxation
        a(href="#").playlist__item The New Retro
        a(href="#").playlist__item Coachella 2019
        a(href="#").playlist__item Reggae
        a(href="#").playlist__item Liked from Radio
        a(href="#").playlist__item Peaceful Piano
        a(href="#").playlist__item Soul
        a(href="#").playlist__item Metropolis
    
