div.song#song
    h1.song__main-title Canciones favoritas
    
    div.song__generic
        input(type="button", value="REPRODUCIR").song__button
        label.song__switch
            input(type="checkbox")
            span.slider.round
                
    input(type="text", placeholder="Filtrar").song__input#song__input
    
    div.song__item.song__th
        div.song__like
        div.song__title TÍTULO
        div.song__artist ARTISTA
        div.song__album ÁLBUM
        div.song__date DATE
        div.song__duration DUR
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title La Flaca
        div.song__artist Jarabe De Palo
        div.song__album La Flaca
        div.song__date hace 12 días
        div.song__duration 4:21
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Me Gustas Tú
        div.song__artist Manu Chao
        div.song__album Próxima Estación
        div.song__date hace 12 días
        div.song__duration 4:00
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Bongo Bong
        div.song__artist Manu Chao
        div.song__album Clandestino
        div.song__date hace 12 días
        div.song__duration 2:38
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Goin Thru Some Thangz
        div.song__artist Jeremih, Ty Dolla $ign
        div.song__album Goin Thru Some Thangz
        div.song__date 2018-12-31
        div.song__duration 3:06
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title The Gift
        div.song__artist Joep Beving
        div.song__album Prehension
        div.song__date 2018-12-22
        div.song__duration 3:46
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title bellyache
        div.song__artist Billie Eilish
        div.song__album Bellyache
        div.song__date 2018-12-15
        div.song__duration 2:59
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title when the party´s over
        div.song__artist Billie Eilish
        div.song__album when the party's over
        div.song__date 2018-12-06
        div.song__duration 3:20
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Moonlight
        div.song__artist XXXTENTACION
        div.song__album ?
        div.song__date 2018-11-24
        div.song__duration 2:15
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title To Say Good Bye
        div.song__artist Luca Balboni
        div.song__album Remothered: Tormented Fathers
        div.song__date 2018-11-14
        div.song__duration 1:24
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Turn Blue
        div.song__artist The Black Keys
        div.song__album Turn Blue
        div.song__date 2018-11-14
        div.song__duration 3:43
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title T.N.T
        div.song__artist AC/DC
        div.song__album High Voltage
        div.song__date 2018-11-05
        div.song__duration 3:36
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title The Less I Know The Better
        div.song__artist Tame Impala
        div.song__album Currents
        div.song__date 2018-10-29
        div.song__duration 3:36
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Little Black Submarine
        div.song__artist The Black Keys
        div.song__album El Camino
        div.song__date 2018-10-27
        div.song__duration 4:11
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Highway To Hell
        div.song__artist AC/DC
        div.song__album Highway To Hell
        div.song__date 2018-10-19
        div.song__duration 3:28
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Blood Under My Belt
        div.song__artist The Drums
        div.song__album Abysmal Thoughts
        div.song__date 2018-10-19
        div.song__duration 3:48
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Dogs of War
        div.song__artist Blues Sacareno
        div.song__album Dark Country 3
        div.song__date 2018-09-18
        div.song__duration 2:57
    div.song__item
        img(src="img/like.svg", alt="Ícono de like").song__like
        div.song__title Watching Over
        div.song__artist Greta Van Fleet
        div.song__album Watching Over
        div.song__date 2018-09-10
        div.song__duration 4:27
